
    <div id="main-bar-u" class="style-grad-HB"></div>
    <div id="main-box-c" class="style-tdot">


        <p>It is the Takayoshi</p>
        <p>tempolary</p>
        <p>menu</p>
        <p>Must change</p>
        <p></p>

        <p>It is the Takayoshi</p>
        <p>tempolary</p>
        <p>menu</p>
        <p>Must change</p>
        <p></p>

        <p>It is the Takayoshi</p>
        <p>tempolary</p>
        <p>menu</p>
        <p>Must change</p>
        <p></p>



    </div>
    <div id="main-bar-d" class="style-grad-HB"></div>