                <!--
                 *
                 *   Menu Code
                 *
                 *   only smart phone: toggle menu or content
                 *
                 *
                 * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * -->

                <!-- Toggle of Menu or Content : smartphone only -->
                <input type="checkbox" id="menu-tgl">
                <label for="menu-tgl" id="menu-hide-cover"></label>
                <label for="menu-tgl" id="menu-switchbtn" class="button-FAB grad-VO shadow-3"></label>

                <!--
                    Toggle Anime
                      float: menu-link / menu-logo / menu-base / Bar
                      transform: menu-view-btn
                 -->

                <!-- Toggle Button element : smartphone only -->
                <span id="menu-view-btn1" class="menu-btnbar"></span>
                <span id="menu-view-btn2" class="menu-btnbar"></span>
                <span id="menu-view-btn3" class="menu-btnbar"></span>

                <div id="menu-contact-btn" class="button-FAB grad-VO shadow-3"><i class="material-icons">mail_outline</i></div>

                <!-- Menu Base: smartphone only -->
                <div id="menu-base" class="style-tdot shadow-3">
                    <div id="menu-bar-u" class="grad-HB"></div>
                    <div id="menu-box-c" class="style-tdot"></div>
                    <div id="menu-bar-d" class="grad-HB"></div>
                </div>


                <!-- Menu Logo -->
                <div id="menu-logo"">
                    <img src="https://s3.amazonaws.com/takayoshi.images/logo.png" id="menu-logo-img">
                </div>

                <!-- Menu Link -->
                <div id="menu-link"">
                    <span class="menu-li"><a href="/" class="menu-a key-hover">Summary statement</a></span>
                    <span class="menu-li"><a href="/qualities/" class="menu-a key-hover">Qualities mapping</a></span>
                    <span class="menu-li"><a href="/experiences/" class="menu-a key-hover">Work experience</a></span>
                    <span class="menu-li"><a href="/education/" class="menu-a key-hover">Education career</a></span>
                    <span class="menu-li"><a href="/portfolio/" class="menu-a key-hover">Portfolios gallery</a></span>
                    <span class="menu-li"><a href="/portfolio/" class="menu-a key-hover">About this site</a></span>
                </ul>

                <div class="bar-base">
                    <div class="bar-01-ltpw bar-mw grad-HB"></div>
                    <div class="bar-02-rtpw bar-mw grad-HB"></div>
                    <div class="bar-03-lbmw bar-mw grad-HB"></div>
                    <div class="bar-04-rbmw bar-mw grad-HB"></div>
                    <div class="bar-05-cltw bar-mw grad-HB"></div>
                    <div class="bar-06-crbw bar-mw grad-HB"></div>
                    <div class="bar-07-ltph bar-mh grad-VB"></div>
                    <div class="bar-08-rtph bar-mh grad-VB"></div>
                    <div class="bar-09-lbmh bar-mh grad-VB"></div>
                    <div class="bar-10-rbmh bar-mh grad-VB"></div>
                    <div class="bar-11-clth bar-mh grad-VB"></div>
                    <div class="bar-12-crbh bar-mh grad-VB"></div>
                </div>
            </div>
