{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}base title{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/takayoshi.css' %}" rel="stylesheet">
        <script type='text/javascript'  src="{% static 'js/takayoshi.js' %}"></script>
    </head>

    <body>
        <div id="area-back" class="style-tdot">
            <div id="area-logo">
            </div>

            <div id="area-menu">
                {# Load logo #}
                {% include "elem/area-menu.html" %}
            </div>

            <div id="area-wind" class="shadow-1">
            </div>

            <div id="area-main" class="shadow-2">
                <div id="main-bar-u" class="grad-HB"></div>
                <div id="main-box-c" class="style-tdot">
                    {% block maincontent %}{% endblock %}
                </div>
                <div id="main-bar-d" class="grad-HB"></div>
            </div>

        </div>
    </body>
</html>