{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}base title{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Balthazar" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="{% static 'css/reset.css' %}?now={% now "ymdHis" %}" rel="stylesheet">
        <link href="{% static 'css/font.css' %}?now={% now "ymdHis" %}" rel="stylesheet">
        <link href="{% static 'css/design.css' %}?now={% now "ymdHis" %}" rel="stylesheet">
        <link href="{% static 'css/menu.css' %}?now={% now "ymdHis" %}" rel="stylesheet">
        <link href="{% static 'css/content.css' %}?now={% now "ymdHis" %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}?now={% now "ymdHis" %}" rel="stylesheet">
        <link href="{% static 'css/bar.css' %}?now={% now "ymdHis" %}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type='text/javascript'  src="{% static 'js/takayoshi.js' %}?d={% now "ymdHis" %}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114516978-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-114516978-1');
        </script>


    </head>

    <body>
        <div id="area-back" class="style-tdot">

            <!-- Bar -->
            <div class="bar-base">
                <div class="bar-01-ltpw bar-mw grad-HB"></div>
                <div class="bar-02-rtpw bar-mw grad-HB"></div>
                <div class="bar-03-lbmw bar-mw grad-HB"></div>
                <div class="bar-04-rbmw bar-mw grad-HB"></div>
                <div class="bar-05-cltw bar-mw grad-HB"></div>
                <div class="bar-06-crbw bar-mw grad-HB"></div>
                <div class="bar-07-ltph bar-mh grad-VB"></div>
                <div class="bar-08-rtph bar-mh grad-VB"></div>
                <div class="bar-09-lbmh bar-mh grad-VB"></div>
                <div class="bar-10-rbmh bar-mh grad-VB"></div>
                <div class="bar-11-clth bar-mh grad-VB"></div>
                <div class="bar-12-crbh bar-mh grad-VB"></div>
            </div>

            <div id="area-h1" class="shadow-3">
                <div id="h1-base">
                    <div id="h1-content" class="style-h1"><h1>{% block h1content %}H1{% endblock %}</h1></div>
                </div>
            </div>

            <div id="area-wind" class="shadow-1">
                <div id="wind-base">
                    {% block windimgurl %}
                    {% endblock %}
                </div>
            </div>

            <div id="area-main" class="shadow-1">
                <div id="main-bar-u" class="grad-HB"></div>
                <div id="main-box-c" class="style-tdot-trans">
                    <div id="main-base">
                        <p> </p>
                        <p> </p>
                        {% block maincontent %}{% endblock %}
                        <p> </p>
                        <p> </p>
                    </div>
                </div>
                <div id="main-bar-d" class="grad-HB"></div>
            </div>

            <div id="area-menu">
                {% include 'elem/area-menu.html' %}
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
            </div>
        </div>
    </body>
</html>