

/* Bar
 */

.bar-base{
    z-index: 8;
    position: fixed;
    left:0vw;
    top:0%;
    width:100vw;
    height:100%;
    pointer-events: none;

    -webkit-transition: -webkit-transform .3s;
    transition: 0.3s;
}

#menu-tgl ~ .bar-base{
    opacity: 0;
}
#menu-tgl:checked ~ .bar-base{
    z-index: 11;
    opacity: 1;
}

.bar-mw{
    width:9.3%;
    height:0.2%;
    position: absolute;
}

.bar-mh{
    width:0.2%;
    height:9.3%;
    position: absolute;
}


.bar-01-ltpw{
    left:0.78%;
    top:3.03%;
}
.bar-02-rtpw{
    left:89.84%;
    top:3.03%;
}
.bar-03-lbmw{
    left:0.78%;
    top:96.78%;
}
.bar-04-rbmw{
    left:89.84%;
    top:96.78%;
}
.bar-07-ltph{
    left:3.03%;
    top:0.78%;
}
.bar-08-rtph{
    left:96.78%;
    top:0.78%;
}
.bar-09-lbmh{
    left:3.03%;
    top:89.84%;
}
.bar-10-rbmh{
    left:96.78%;
    top:89.84%;
}

@media all and (orientation: landscape) {


    .bar-05-cltw{
        left:17.19%;
        top:3.03%;
    }
    .bar-06-crbw{
        left:17.19%;
        top:96.78%;
    }
    .bar-11-clth{
        left:21.78%;
        top:0.78%;
    }
    .bar-12-crbh{
        left:21.78%;
        top:89.84%;
    }
}

@media all and (orientation: portrait) {
    .bar-05-cltw{
        left:0.78%;
        top:31.15%;
    }
    .bar-06-crbw{
        left:89.84%;
        top:31.15%;
    }
    .bar-11-clth{
        left:3.03%;
        top:26.56%;
    }
    .bar-12-crbh{
        left:96.78%;
        top:26.56vh;
    }

}