


/* Design of h1 div
 */
#h1-base {
    position:static;
    width:100%;
    height:100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}
#h1-content {
    display: flex;
    display: -webkit-flex;
    align-items: center;
   --webkit-align-items: center;
    position:static;
    height:auto;
}
/* Design of wind div
 */
#wind-base {
    width:100%;
    height:100%;
    overflow:hidden;
}
#wind-img{
    width:100%;
}

/* Design of main div
 */

#main-base {
    position: absolute;
    overflow:scroll;
    overflow-x: hidden;
    padding:0 2%;
}
#main-box-c{
}

@media all and (orientation: landscape) {
    #main-base {
        top:1.7%;
        left:1.7%;
        width:92.6%;
        height:94%;
        padding-top:2%;
    }
    #main-bar-u{
        width:100%;
        height:1.5%;
        border-radius: 2px;
    }
    #main-box-c{
        opacity:0.6;
        height:97%;
        width:97%;
        margin:0% 1.5%;
        padding-top:1%;
    }
    #main-bar-d{
        height:1.5%;
        width:100%;
        border-radius: 2px;
    }
}

@media all and (orientation: portrait) {
    #main-base {
        top:0%;
        height:100%;
        left:0%;
        width:96%;
    }
    #main-bar-u{
        display: none;
    }
    #main-box-c{
        opacity:0.7;
        top:0%;
        height:100%;
        left:0%;
        width:100%;
    }
    #main-bar-d{
        display: none;
    }
}


/* Design of wind div
 */
.cmp-label{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    -webkit-align-items: center; /* Safari */
    align-items:         center;
    margin-bottom:0.3em;
}


.cmp-desc{
    margin-bottom:0.2em;
}

.cmp-url>a{
    text-decoration: none;
    -webkit-filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
    -moz-filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
    -o-filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
    filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
}



.role-tgl, .exp-tgl{
    display: none;
}

.role-label, .exp-label{
    display: inline-block;
}

.role-btn-label>i, .exp-btn-label>i {
    font-size:0.85em;
}
.role-btn-label{
    color:#223a64;
}
.role-btn-label, .exp-btn-label{

    display: inline-block;
    z-index:8;
    width: 0.8em;
    height: 0.8em;

    -webkit-filter:
            drop-shadow(1.5px 0px 0px rgb(26, 32, 42));
    -moz-filter:
            drop-shadow(1.5px 0px 0px rgb(26, 32, 42));
    -o-filter:
            drop-shadow(1.5px 0px 0px rgb(26, 32, 42));
    filter:
            drop-shadow(0px -1.5px 0px rgb(26, 32, 42));

    -webkit-transition: -webkit-transform .6s;
    transition: 0.6s;
    transform: rotate( 225deg );
}

.role-tgl:checked ~ .role-btn-label,
.exp-tgl:checked ~ .exp-btn-label{
    -webkit-filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
    -moz-filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
    -o-filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
    filter:
            drop-shadow(-1px 1px 0px rgb(26, 32, 42));
    transform: rotate( 0deg );
}

.role-btn>i, .exp-btn-label>i{
    font-size: 0.85em;
}

.exp-box{
    margin-left:1.4em;
    height:0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}
.role-tgl:checked ~ .exp-box{
    height:auto;
}

.role-info{
    margin-bottom:0.3em;
}
.role-description{
    width:100%;
}
.role-info p{
    /*text-indent: 0em;*/
}
.exp-label{
    width:90%;
}
.exp-desc-box{
    margin-left:1.4em;
    height:auto;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}
.role-tgl:checked ~ .exp-box{
.exp-tgl:checked ~ .exp-desc-box{
    overflow: hidden;
    height:0;
}


