/* Material icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

html, body{
    width :100%;
    height:100%;
	overflow:hidden;
    z-index: 0;
}
#area-back{
    position: relative;
	overflow:hidden;
    width :100%;
    height:100%;
    z-index: 2;
}
#area-wind {
    position: absolute;
    z-index: 3;
    background-color: #1a202a;
}
#area-main {
    position: absolute;
    z-index: 4;

}
/* zindex 8 -> bar */
#area-h1{
    position: absolute;
    z-index: 9;
}
/* Setting about each area size and point
 * ( width > height ) = landscape site
 * ( width < height ) = portrait
 */
@media all and (orientation: landscape) {
    #area-wind {
        top: 6.25%;
        left:31.25%;
        height:62.5%;
        width:62.5%;
    }
    #area-main {
        top: 18.75%;
        left:25%;
        height:75%;
        width:62.5%;
    }
    #area-h1 {
        top:6.25%;
        left:25%;
        height:12.5%;
        width:58.75%;
    }
}

@media all and (orientation: portrait) {
    #area-wind {
        top:6.75%;
        height:86.5%;
        left:6.75%;
        width:86.5%;
    }
    #area-main {
        top:13.75%;
        height:78.75%;
        left:7.5%;
        width:85.0%;
    }
    #area-h1{
        top:0%;
        height:12.5%;
        left:0%;
        width:100%;
    }
}

