
/* Font Style Typo
 */
body,html,h1,h2,h3,p,a,em,div{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.1em;
    opacity:1;
}
h1 {
    font-family: 'Balthazar', serif;
    font-feature-settings: "palt";
    font-weight: bold;
    text-align: left;
    display: inline-block;
    transform: rotate( -5deg )
}
h2{
    font-weight: normal;
    position: relative;
    font-feature-settings : "palt";
}
h2,h3,p,span,label{
    font-family: 'Roboto Slab', serif;
    color:#1a202a;
    text-shadow: 0px 0px 0.1vh rgba(26,32,42,0.5);
    font-feature-settings : "palt";
}
h3,p,span{
    display:inline-block;
}
p,span,a,em {
    font-size: 1em;
}
em{
    font-weight: bold;
    color:#cb5f00;
    text-shadow: 0px 0px 0.1vh #ffb16d;
}
a{
    display: block;
}
.main-a{
    color:#223a64;
}
.menu-a{
    text-decoration: none;
    font-family: 'Bellefair', serif;
    color:#1a202a;
    font-weight: normal;
    text-shadow: 0px 0px 0.1vh rgba(26,32,42,0.5);
    font-feature-settings : "palt";
}
.font-detail, .font-detail>p{
    color:#444444;
    font-size: 0.9em;
    margin:0;
    padding:0;
    line-height:1.4em;
}

/*}*/
/* FontSize
 */
@media all and (max-width:400px){
    html {
        font-size: calc(75% + 4 * (100vw - 100px) / 300);
    }
    h1{
        font-size:2.4em;
    }
    h2{
        font-size: 1.4em;
    }
    h3,.main-a{
        font-size: 1.0em;
    }
}
@media all and (min-width:401px) and (max-width:1000px){
    html {
        font-size: calc(100% + 3 * (100vw - 400px) / 600);
    }
    h1{
        font-size:2.8em;
    }
    h2{
        font-size: 1.5em;
    }
    h3,.main-a{
        font-size: 1.1em;
    }
}

@media all and (min-width:1001px){
    html {
        font-size: calc(110% + 2 * (100vw - 1000px) / 1000);
    }
    h1{
        font-size:4em;

    }
    h2{
        font-size: 1.6em;
    }
    h3,.main-a{
        font-size: 1.2em;
    }
}
h1{
    margin: 0;
}
h2{
    margin: 0.8em 0 0.4em 0;
}
h3{
    margin: 0.4em 0 0.1em 0;
}
p{
    text-indent: 0.5em;
    line-height: 1.3em;
    padding-bottom: 0.2em;
}




.menu-a{
    margin-right: -0.3vw;
    line-height: 2vw;
    margin-left: 0.8vw;
    text-indent: -0.8vw;
}
.menu-li{
    margin-bottom: 1em;
}




.key-hover:hover{
    -webkit-animation: key-hover 0.2s ease-in-out 0s  forwards;
    animation: key-hover 0.2s ease-in-out 0s  forwards;
}
@keyframes key-hover {
    0% {
        transform: translateY(0px);
        font-size:1em;
    }
    100% {
        transform: translateY(-0.2em);
        font-size:1.05em;
    }
}

@-webkit-keyframes key-hover {
    0% {
        -webkit-transform: translateY(0px);
        font-size:1em;
    }
    100% {
        -webkit-transform: translateY(-0.2em);
        font-size:1.05em;
    }
}

