
/* Font Style Typo
 */
body,html,h1,h2,h3,p,a,em,div{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.1em;
}
h1{
    font-family: 'Balthazar', serif;
    font-feature-settings : "palt";
    font-weight: bold;
    text-align: left;
    display:inline-block;
}
h2,h3,p,{
    font-family: 'Roboto Slab', serif;
    color:#1a202a;
    text-shadow: 0px 0px 0.1vh rgba(26,32,42,0.5);
    font-feature-settings : "palt";
    margin-top:0.6vw;
    margin-bottom:1.4vw;
}
h2{
    font-weight: bold;
    position: relative;
    margin-top:2.4vw;
    margin-bottom:0vw;
    color: #223a64;
    text-shadow: -0.1vh 0.2vh 0.1vh rgba(26,32,42,0.5);
    font-feature-settings : "palt";
}
em{
    font-weight: bold;
    color:#cb5f00;
    text-shadow: 0px 0px 0.1vh #ffb16d;
}

.main-a{
    color:#223a64;
}
.menu-a{
    font-family: 'Bellefair', serif;
    color:#1a202a;
    font-weight: normal;
    text-shadow: 0px 0px 0.1vh rgba(26,32,42,0.5);
    font-feature-settings : "palt";

}
a{
    text-decoration: none;
    display: block;
}

/*}*/
/* FontSize
 */
@media all and (max-width:400px){
    html {
        font-size: calc(100% + 4 * (100vw - 100px) / 300);
    }
    p,span,a,em {
        font-size: 1em;
    }
    h1{
        font-size:1.8em;
    }
    h2{
        font-size: 1.5em;
    }
    h3,.main-a{
        font-size: 1.2em;
    }
}
@media all and (min-width:401px) and (max-width:1000px){
    html {
        font-size: calc(110% + 3 * (100vw - 400px) / 600);
    }
    p,span,a,em {
        font-size: 1em;
    }
    h1{
        font-size:2.5em;
    }
    h2{
        font-size: 1.5em;
    }
    h3,.main-a{
        font-size: 1.2em;
    }
}

@media all and (min-width:1001px){
    html {
        font-size: calc(120% + 2 * (100vw - 1000px) / 1000);
    }
    p,span,a,em {
        font-size: 1em;
    }
    h1{
        font-size:3em;

    }
    h2{
        font-size: 1.5em;
    }
    h3,.main-a{
        font-size: 1.4em;
    }
}



@keyframes key-menuhover {
    0% {
        transform: translateY(0px);
        font-size:1.2em;
    }
    100% {
        transform: translateY(-0.5vh);
        font-size:1.3em;
    }
}

@-webkit-keyframes key-menuhover {
    0% {
        -webkit-transform: translateY(0px);
        font-size:1.2em;
    }
    100% {
        -webkit-transform: translateY(-0.5vh);
        font-size:1.3em;
    }
}


p{
    line-height: 3em;
}

h2{
    line-height: 4vw;
}
h3{
    line-height: 3.5vw;
}
p,h2,h3,.main-a{
    text-indent: 1.6vw;
}
.menu-a{
    margin-right: -0.3vw;
    line-height: 2vw;
    margin-left: 0.8vw;
    text-indent: -0.8vw;
}
.menu-li{
    margin-bottom: 1em;
}






/*h2:after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*left:0;*/
    /*bottom: 15%;*/
    /*width:98%;*/
    /*height:0.3vh;*/
    /*background: #223a64;*/
    /*background: -moz-linear-gradient(left, #223a64 0%, #a8d5ff 70%, #223a64 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, #223a64 0%,#a8d5ff 70%,#223a64 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, #223a64 0%,#a8d5ff 70%,#223a64 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223a64', endColorstr='#223a64',GradientType=1 ); !* IE6-9 *!*/
/*}*/
/* FontSize
 */
/*

@media all and (max-width:384px){
    h1{
        font-size:13vw;

        !*
        font-size:15vw;
        line-height: 14vw;
        letter-spacing: 0.6vw;
        margin-left: 7vw;
        text-indent: -7vw;*!
    }
    h2{
        font-size:6vw;
        line-height: 8vw;
    }
    h3{
        font-size:5vw;
        line-height: 7vw;

    }
    p,.main-a{
        font-size: 3.3vw;
        line-height: 4.5vw;
        margin-right: -0.23vw;
        letter-spacing: 0.23vw;
    }
    p,h2,h3,.main-a{
        text-indent: 1.6vw;
    }
    .menu-a{
        font-size:5.4vw;
        margin-right: -0.5vw;
        letter-spacing: 0.5vw;
        line-height: 5.8.vw;

        margin-left: 3vw;
        text-indent: -3vw;
    }
    .manu-li{
        margin-bottom: 4vw;
    }

}
@media all and (min-width: 385px) and (max-width:768px) and (orientation: landscape){

    h1{
        font-size:9vw;
        line-height: 7vw;
        letter-spacing: 0.4vw;
        margin-left: 3vw;
        text-indent: -3vw;
    }
    h2{
        font-size:4vw;
        line-height: 5.4vw;

    }
    h3{
        font-size:3vw;
        line-height: 3.5vw;

    }
    p,.main-a{
        font-size:2.4vw;
        line-height: 3vw;
        margin-right: -0.23vw;
        letter-spacing: 0.23vw;
    }
    p,h2,h3,.main-a{
        text-indent: 1.6vw;
    }
    .menu-a{
        font-size:2.8vw;
        margin-right: -0.5vw;
        letter-spacing: 0.5vw;
        line-height: 2.9vw;

        margin-left: 1.5vw;
        text-indent: -1.5vw;
    }
    .manu-li{
        margin-bottom: 4vw;
    }
}

@media all and (min-width: 385px) and (max-width:768px) and (orientation: portrait) {

    h1{
        font-size:12vw;
        line-height: 11vw;
        letter-spacing: 0.6vw;
        margin-left: 7vw;
        text-indent: -7vw;
    }
    h2{
        font-size:5vw;
        line-height: 7vw;

    }
    h3{
        font-size:4vw;
        line-height: 5vw;

    }
    p,.main-a{
        font-size:3vw;
        line-height: 3.8vw;
        margin-right: -0.23vw;
        letter-spacing: 0.23vw;
    }
    p,h2,h3,.main-a{
        text-indent: 1.6vw;
    }
    .menu-a{
        font-size:4.8vw;
        margin-right: -0.6vw;
        letter-spacing: 0.6vw;
        line-height: 5.vw;

        margin-left: 3vw;
        text-indent: -3vw;
    }
    .manu-li{
        margin-bottom: 2.6vw;
    }
}

@media all and (min-width: 769px) {
    h1{
        font-size:8vw;
        line-height: 6.2vw;
        letter-spacing: 0.4vw;
        margin-left: 3vw;
        text-indent: -3vw;
    }
    h2{
        font-size:2.5vw;
        line-height: 4vw;

    }
    h3{
        font-size:2vw;
        line-height: 3.5vw;

    }
    p,.main-a{
        font-size:1.6vw;
        line-height: 2.4vw;
        margin-right: -0.23vw;
        letter-spacing: 0.23vw;
    }
    p,h2,h3,.main-a{
        text-indent: 1.6vw;
    }

    .menu-a{
        font-size:1.8vw;
        margin-right: -0.3vw;
        letter-spacing: 0.3vw;
        line-height: 2vw;

        margin-left: 0.8vw;
        text-indent: -0.8vw;
    }
    .manu-li{
        margin-bottom: 2.3vw;
    }
}*/
