
/* Design of menu div
 */


#area-menu {
    z-index: 10;
}

.menu-a:hover{
    -webkit-animation: key-menuhover 0.2s ease-in-out 0s  forwards;
    animation: key-menuhover 0.2s ease-in-out 0s  forwards;
}
#menu-tgl{
    display: none;
}
#menu-logo {
    width:100%;
    overflow:hidden;
}
@media all and (orientation: landscape) {
    #area-menu {
        position: absolute;
        top: 6.25%;
        left:6.25%;
        height:87.5%;
        width:12.5%;
    }
    #menu-hide-cover{
        display: none;
        pointer-events: none;
    }
    #menu-switchbtn{
        display: none;
    }

    #area-logo {
        left:6.25%;
        width:12.5%;
        height:18.75%;

        margin-bottom:8vh;
    }
    #menu-logo-img{
        width:100%;
    }
    #menu-base{
        display:none;
    }
    .menu-btnbar{
        display: none;
    }


}

@media all and (orientation: portrait) {
    #area-menu {
        position: relative;
        top:0%;
        height:100%;
        left:0%;
        width:100%;
        pointer-events: none;
    }


    #menu-hide-cover{
        /* over dark */
        z-index: 10;
        position: fixed;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        pointer-events: none;

        /* anime speed*/
        -webkit-transition: -webkit-background-color .3s;
        transition: background-color .3s;
    }
    #menu-tgl:checked ~ #menu-hide-cover {
        /* anime */
        pointer-events: auto;
        background-color: rgba(0, 0, 0, .75);
    }

    #menu-base{

        /* anime */
        opacity: 0;
        z-index: 11;
        pointer-events: none;

        position: absolute;
        top:6.75%;
        height:86.5%;
        left:6.75%;
        width:86.5%;

        -webkit-transition: -webkit-transform .2s;
        transition: 0.2s;
    }
    #menu-tgl:checked ~ #menu-base {
        /* anime */
        opacity: 1;
    }



    #menu-logo {
        /* anime */
        opacity: 0;
        z-index: 8;
        pointer-events: none;

        position: absolute;
        top:6.75%;
        height:24.5%;
        left:6.75%;
        width:86.5%;

        -webkit-transition: -webkit-transform 1.6s;
        transition: transform 1.6s;

    }
    #menu-tgl:checked ~ #menu-logo {
        /* anime */
        opacity: 1;
        z-index: 12;
    }
    #menu-logo-img{
        margin-top:3%;
        width:30%;
    }



    #menu-link{
        opacity: 0;
        z-index: 8;;
        pointer-events: auto;

        position: fixed;
        top:37.5%;
        height:52.5%;

        left:6.75%;
        width:86.5%;

        -webkit-transition: -webkit-transform .8s;
        transition: transform  .8s;

        padding-left: 10%;
    }

    #menu-tgl:checked ~ #menu-link {
        /* anime */
        opacity: 1;
        z-index: 12;
    }


    #menu-switchbtn {
        position: absolute;
        left: 76.25%;
        top: 88.75%;
    }

    #menu-contact-btn {
        position: absolute;
        left: 64.75%;
        top: 88.75%;

        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        --webkit-align-items: center;

    }
    #menu-contact-btn > i{
        pointer-events: none;
        color:#FFFFFF;

    }

    /* Floating Action Button */
    .button-FAB{
        pointer-events: auto;
        z-index: 13;
        width:10vw;
        height:10vw;
        border-radius: 50%;
        -webkit-transition: -webkit-transform .3s;
        transition: transform  .3s;
    }
    .menu-btnbar{
        z-index: 14;
        background-color: #FFFFFF;
        border-radius:10%;
        position: absolute;
        left: 78.5%;
        width:6%;
        height:0.4%;
        pointer-events: none;
        -webkit-transition: all .7s;
        transition: all  .7s;
    }
    #menu-view-btn1{
        top: 90%;
    }
    #menu-view-btn2{
        top: 91.25%;
    }
    #menu-view-btn3{
        top: 92.5%;
    }
    #menu-tgl:checked ~ #menu-view-btn1 {
        -webkit-transform: translateY(1.25vh) rotate(-45deg);
        transform:translateY(1.25vh) rotate(-45deg) ;
    }
    #menu-tgl:checked ~ #menu-view-btn2 {
        opacity: 0;
    }
    #menu-tgl:checked ~ #menu-view-btn3 {
        -webkit-transform: translateY(-1.25vh) rotate(45deg);
        transform:translateY(-1.25vh) rotate(45deg);
    }
}
/*
@keyframes key-menuhover {
    0% {
        transform: translateY(0px);
        font-size:1vw;
    }
    100% {
        transform: translateY(-2vh) ;
        font-size:3vw;
    }
}

@-webkit-keyframes key-menuhover {
    0% {
        -webkit-transform: translateY(0px) ;
        font-size:1vw;
    }
    100% {
        -webkit-transform: translateY(-2vh) ;
        font-size:3vw;
    }
}*/
/*


@media all and (orientation: portrait) {
    .menu-view-bar{
        width:100%;
        height:12%;
        z-index: 6;
        margin:0px;
    }
    #menu-view-c{
        width:95%;
        height:76%;
        z-index: 6;
        margin:0px;
    }
    .menu-btnbar{
        position: fixed;
        left:-0.7vw;
        width:6vw;
        height:0.25vh;
        z-index: 6;
        background-color:#1a202a;
        pointer-events: none;
        -webkit-transition: all .7s;
        transition: all  .7s;
        border-radius: 1px;
    }



}

*/