
/* Design of menu div
 */


#area-menu {
    z-index: 10;
}
.menu-a{
    display:inline-block;
}
#menu-tgl{
    display: none;
}
#menu-logo {
    width:100%;
    overflow:hidden;
}

#menu-contact-btn {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    --webkit-align-items: center;

}
#menu-contact-btn > i{
    pointer-events: none;
    color:#FFFFFF;

}
/* Floating Action Button */
.button-FAB{
    pointer-events: auto;
    z-index: 13;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .3s;
    transition: transform  .3s;
}
#menu-link{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -webkit-justify-content: space-around; /* Safari */
    justify-content:         space-around;

}


@media all and (orientation: landscape) {
    #area-menu {
        position: absolute;
        top: 6.25%;
        left:5%;
        height:87.5%;
        width:15.5%;
    }
    #menu-hide-cover{
        display: none;
        pointer-events: none;
    }
    #menu-switchbtn{
        display: none;
    }

    #menu-logo{
        left:6.25%;
        width:100%;
        height:18.75%;

        margin-bottom:8%;
    }
    #menu-logo-img{
        width:80%;
    }
    #menu-base{
        display:none;
    }
    .menu-btnbar{
        display: none;
    }

    #menu-contact-btn {
        left: 75%;
        top: 12.5%;
    }
    /* Floating Action Button */
    .button-FAB{
        width:5vw;
        height:5vw;
    }

    #menu-link{
        position: absolute;
        top:25%;
        height:55%;
    }
}

@media all and (orientation: portrait) {
    #area-menu {
        position: relative;
        top:0%;
        height:100%;
        left:0%;
        width:100%;
        pointer-events: none;
    }


    #menu-hide-cover{
        /* over dark */
        z-index: 10;
        position: fixed;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        pointer-events: none;

        /* anime speed*/
        -webkit-transition: -webkit-background-color .3s;
        transition: background-color .3s;
    }
    #menu-tgl:checked ~ #menu-hide-cover {
        /* anime */
        pointer-events: auto;
        background-color: rgba(0, 0, 0, .75);
    }

    #menu-base{

        /* anime */
        opacity: 0;
        z-index: 11;
        pointer-events: none;

        position: absolute;
        top:6.75%;
        height:86.5%;
        left:6.75%;
        width:86.5%;

        -webkit-transition: -webkit-transform .2s;
        transition: 0.2s;
    }
    #menu-tgl:checked ~ #menu-base {
        /* anime */
        opacity: 1;
    }



    #menu-logo {
        /* anime */
        opacity: 0;
        z-index: 8;
        pointer-events: none;

        position: absolute;
        top:6.75%;
        height:24.5%;
        left:6.75%;
        width:86.5%;

        -webkit-transition: -webkit-transform 1.6s;
        transition: transform 1.6s;

    }
    #menu-tgl:checked ~ #menu-logo {
        /* anime */
        opacity: 1;
        z-index: 12;
    }
    #menu-logo-img{
        margin-top:15%;
        width:30%;
    }


    #menu-link {
        opacity: 0;
        z-index: 8;
        pointer-events: none;

        position: absolute;
        top: 35%;
        height: 37.5%;
        left: 6.75%;
        width: 86.5%;

        -webkit-transition: -webkit-transform .8s;
        transition: transform .8s;
    }
    #menu-tgl:checked ~ #menu-link {
        /* anime */
        opacity: 1;
        z-index: 12;
        pointer-events: auto;
    }
    .menu-li{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
    }

    #menu-switchbtn {
        position: absolute;
        left: 76.25%;
        top: 88.75%;
    }

    #menu-contact-btn {
        left: 64.75%;
        top: 88.75%;
    }

    /* Floating Action Button */
    .button-FAB{
        width:10vw;
        height:10vw;
    }
    .menu-btnbar{
        z-index: 14;
        background-color: #FFFFFF;
        border-radius:10%;
        position: absolute;
        left: 78.5%;
        width:6%;
        height:0.4%;
        pointer-events: none;
        -webkit-transition: all .7s;
        transition: all  .7s;
    }
    #menu-view-btn1{
        top: 90%;
    }
    #menu-view-btn2{
        top: 91.25%;
    }
    #menu-view-btn3{
        top: 92.5%;
    }
    #menu-tgl:checked ~ #menu-view-btn1 {
        -webkit-transform: translateY(1.25vh) rotate(-45deg);
        transform:translateY(1.25vh) rotate(-45deg) ;
    }
    #menu-tgl:checked ~ #menu-view-btn2 {
        opacity: 0;
    }
    #menu-tgl:checked ~ #menu-view-btn3 {
        -webkit-transform: translateY(-1.25vh) rotate(45deg);
        transform:translateY(-1.25vh) rotate(45deg);
    }
}
