/*
 * This is that brabrabra
 *
 *
 *
 * Takayoshi Taya
 */
/* Reset CSS
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	display: block;
	margin: 0 auto;
	padding: 0;
}




/* Base color setting
 */
html, body{
    width :100%;
    height:100%;
	overflow:hidden;
}
#area-back{
    position: relative;
	overflow:hidden;
    width :100%;
    height:100%;
    z-index: 0;
}
#area-menu {
    position: absolute;
}
#area-wind {
    position: absolute;
    z-index: 1;
}
#area-main {
    position: absolute;
    z-index: 2;
}

/* Design of logo div
 */
/* Design of menu div
 */
.menu-a{
    text-decoration: none;
    display: block;
}
.menu-a:hover{
    -webkit-animation: key-menuhover 0.2s ease-in-out 0s  forwards;
    animation: key-menuhover 0.2s ease-in-out 0s  forwards;
}
#menu-tgl{
    display: none;
}

#menu-logo {
    width:100%;
    overflow:hidden;
}
#menu-logo-img{
    width:100%;
}

@media all and (orientation: landscape) {
    #menu-hide{
        display: none;
        pointer-events: none;
    }
    #manu-view {
        display: none;
    }
    #menu-logo {
        margin-bottom:8vh;
    }
    #menu-base{
        display:none;
    }
    .menu-btnbar{
        display: none;
    }
}
@media all and (orientation: portrait) {
    #area-menu {
        position: relative;
        background: #666666;
    }

    #menu-hide{
        position: fixed;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 3;
        -webkit-transition: -webkit-background-color .8s;
        transition: background-color .8s;
    }
    #manu-view{
        position: absolute;
        left:-0.5vw;
        top:12vh;
        width:6.5vw;
        height:6.5vw;
        opacity:0.7;
        z-index: 5;
        -webkit-transition: -webkit-transform .3s;
        transition: transform  .3s;
    }
    .menu-view-bar{
        width:100%;
        height:12%;
        z-index: 6;
        margin:0px;
    }
    #menu-view-c{
        width:95%;
        height:76%;
        z-index: 6;
        margin:0px;
    }

    .menu-btnbar{
        position: fixed;
        left:-0.2vw;
        width:4.5vw;
        height:0.4vw;
        z-index: 6;
        background-color:#1a202a;
        pointer-events: none;
        -webkit-transition: all .7s;
        transition: all  .7s;
        border-radius: 1px;
    }
    #menu-view-btn1{
        top:12.8vh;
    }
    #menu-view-btn2{
        top:13.4vh;
    }
    #menu-view-btn3{
        top:14vh;
    }

    #menu-base {
        position: absolute;
        left:	-86.75vw;
        top:	6.25vh;
        width:	87.5vw;
        height:	87.5vh;

        z-index: 5;
        -webkit-transition: -webkit-transform .4s;
        transition: transform  .4s;
    }
    #menu-logo {
        position: absolute;
        left:-60.5vw;
        top:13vh;
        width:18.75vh;
        hegith:auto;

        z-index: 5;
        -webkit-transition: -webkit-transform .5s;
        transition: transform  .5s;
    }
    #menu-bar-u{
        width:100%;
        height:1.5%;
        border-radius: 2px;
    }
    #menu-box-c{
        height:97%;
        width:97%;
        margin:0% 1.5%;
        opacity:0.7;
        position: relative;
    }
    #menu-bar-d{
        width:100%;
        height:1.5%;
        border-radius: 2px;
    }

    #menu-link{
        position: fixed;

        top:37.5vh;
        height:50vh;

        left:-67vw;
        width:50vw;

        z-index: 5;
        -webkit-transition: -webkit-transform .8s;
        transition: transform  .8s;
    }
    #menu-tgl:checked ~ .drawing {
        -webkit-transform: translateX(93vw);
        -ms-transform: translateX(93vw);
        transform: translateX(93vw);
    }

    #menu-tgl:checked ~ #menu-hide {
        pointer-events: auto;
        background-color: rgba(0, 0, 0, .75);
    }
    #menu-tgl:checked ~ #menu-view-btn1 {
        -webkit-transform:  translateX(93vw) translateY(1.4vw) rotate(-45deg);
        transform: translateX(93vw) translateY(1.4vw) rotate(-45deg) ;
    }
    #menu-tgl:checked ~ #menu-view-btn2 {
        opacity: 0;
    }
    #menu-tgl:checked ~ #menu-view-btn3 {
        -webkit-transform:  translateX(93vw) translateY(-1.4vw) rotate(45deg);
        transform:  translateX(93vw) translateY(-1.4vw) rotate(45deg);
    }
}


/* Design of wind div
 */
#wind-base {
    width:100%;
    height:100%;
    overflow:hidden;
}
#wind-img{
    width:100%;
}

/* Design of main div
 */
#main-base {
    position: absolute;
    top:1.7%;
    left:1.7%;
    width:96.6%;
    height:96.6%;

    overflow:scroll;
    overflow-x: hidden;
}
#main-bar-u{
    width:100%;
    height:1.5%;
    border-radius: 2px;
}
#main-box-c{
    height:97%;
    width:97%;
    margin:0% 1.5%;
    opacity:0.7;
    position: relative;
}
#main-bar-d{
    height:1.5%;
    width:100%;
    border-radius: 2px;
}
#main-base::-webkit-scrollbar{
  width: 12px;
}
#main-base::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
#main-base::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 10px;
  box-shadow: none;
}


/* Font Style Typo
 */
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p{
    font-family: 'Bellefair', serif;
    color:#1a202a;
    text-shadow: 0px 0px 0.1vh rgba(26,32,42,0.5);
    font-feature-settings : "palt";
}
.menu-a{
    font-family: 'Bellefair', serif;
    color:#1a202a;
    text-shadow: 0px 0px 0.1vh rgba(26,32,42,0.5);
    font-feature-settings : "palt";

}
/* Color / pattern / style
 */
.style-tdot{
    background:
        radial-gradient(#cee5f3 2%, transparent 10%) 0 0,
        radial-gradient(#cee5f3 2%, transparent 10%) 8px 8px;
    background-color:#edf0f2;
    background-size:16px 16px;
}
.grad-HB{ /*>>> Blue*/
    background: #223a64; /* Old browsers */
    background: -moz-linear-gradient(left, #223a64 0%, #a8d5ff 70%, #223a64 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #223a64 0%,#a8d5ff 70%,#223a64 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #223a64 0%,#a8d5ff 70%,#223a64 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223a64', endColorstr='#223a64',GradientType=1 ); /* IE6-9 */
}
.grad-VB{ /*VVV Blue*/
    background: #223a64; /* Old browsers */
    background: -moz-linear-gradient(top, #223a64 0%, #a8d5ff 70%, #223a64 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #223a64 0%,#a8d5ff 70%,#223a64 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #223a64 0%,#a8d5ff 70%,#223a64 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223a64', endColorstr='#223a64',GradientType=0 ); /* IE6-9 */
}

.grad-HO{ /*>>> Blue*/
    background: #cb5f00; /* Old browsers */
    background: -moz-linear-gradient(left, #cb5f00 0%, #ffb16d 70%, #cb5f00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #cb5f00 0%,#ffb16d 70%,#cb5f00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #cb5f00 0%,#ffb16d 70%,#cb5f00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223a64', endColorstr='#223a64',GradientType=1 ); /* IE6-9 */
}
.grad-VO{ /*VVV Blue*/
    background: #cb5f00; /* Old browsers */
    background: -moz-linear-gradient(top, #cb5f00 0%, #ffb16d 70%, #cb5f00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cb5f00 0%,#ffb16d 70%,#cb5f00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cb5f00 0%,#ffb16d 70%,#cb5f00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223a64', endColorstr='#223a64',GradientType=0 ); /* IE6-9 */
}
.shadow-1{
    filter: drop-shadow(-2px 3px 1px rgba(27,43,71,0.8));
}
.shadow-2{
    filter: drop-shadow(-3px 4px 2px rgba(27,43,71,0.8));
}
.shadow-3{
    filter: drop-shadow(-4px 6px 3px rgba(27,43,71,0.9));
}
/* Keyflame
 */
@media all and (max-width:384px){

    @keyframes key-menuhover {
        0% {
            transform: translateY(0px);
            font-size:5.4vw;
        }
        100% {
            transform: translateY(-0.2vw);
            font-size:5.5vw;
        }
    }

    @-webkit-keyframes key-menuhover {
        0% {
            -webkit-transform: translateY(0px);;
            font-size:5.4w;
        }
        100% {
            -webkit-transform: translateY(-0.2vw);
            font-size:5.5vw;
        }
    }
}
@media all and (min-width: 385px) and (max-width:768px) and (orientation: landscape){

    @keyframes key-menuhover {
        0% {
            transform: translateY(0px);
            font-size:2.8vw;
        }
        100% {
            transform: translateY(-0.2vw);
            font-size:3vw;
        }
    }

    @-webkit-keyframes key-menuhover {
        0% {
            -webkit-transform: translateY(0px);;
            font-size:2.8vw;
        }
        100% {
            -webkit-transform: translateY(-0.2vw);
            font-size:3vw;
        }
    }
}
@media all and (min-width: 385px) and (max-width:768px) and (orientation: portrait) {

    @keyframes key-menuhover {
        0% {
            transform: translateY(0px);
            font-size:5vw;
        }
        100% {
            transform: translateY(-0.2vw);
            font-size:5.1vw;
        }
    }
    @-webkit-keyframes key-menuhover {
        0% {
            -webkit-transform: translateY(0px);;
            font-size:5vw;
        }
        100% {
            -webkit-transform: translateY(-0.2vw);
            font-size:5.1vw;
        }
    }
}
@media all and (min-width: 769px) {

    @keyframes key-menuhover {
        0% {
            transform: translateY(0px);
            font-size:1.8vw;
        }
        100% {
            transform: translateY(-0.2vw);
            font-size:1.9vw;
        }
    }

    @-webkit-keyframes key-menuhover {
        0% {
            -webkit-transform: translateY(0px);;
            font-size:1.8vw;
        }
        100% {
            -webkit-transform: translateY(-0.2vw);
            font-size:1.9vw;
        }
    }
}

/* FontSize
 */

@media all and (max-width:384px){
    p{
        font-size:5vw;
        margin-right: -0.6vw;
        letter-spacing: 0.6vw;
        line-height: 6.8vw;
        text-indent: 5vw;
    }
    .menu-a{
        font-size:5.4vw;
        margin-right: -0.5vw;
        letter-spacing: 0.5vw;
        line-height: 5.8.vw;

        margin-left: 3vw;
        text-indent: -3vw;
    }
    .manu-li{
        margin-bottom: 4vw;
    }
}
@media all and (min-width: 385px) and (max-width:768px) and (orientation: landscape){

    p{
        font-size:3vw;
        margin-right: -0.5vw;
        letter-spacing: 0.5vw;
        line-height: 4vw;
        text-indent: 3vw;
    }
    .menu-a{
        font-size:2.8vw;
        margin-right: -0.5vw;
        letter-spacing: 0.5vw;
        line-height: 2.9vw;

        margin-left: 1.5vw;
        text-indent: -1.5vw;
    }
    .manu-li{
        margin-bottom: 4vw;
    }
}

@media all and (min-width: 385px) and (max-width:768px) and (orientation: portrait) {
    p{
        font-size:5vw;
        margin-right: -0.8vw;
        letter-spacing: 0.8vw;
        line-height: 6.8vw;
        text-indent: 5vw;
    }
    .menu-a{
        font-size:4.8vw;
        margin-right: -0.6vw;
        letter-spacing: 0.6vw;
        line-height: 5.vw;

        margin-left: 3vw;
        text-indent: -3vw;
    }
    .manu-li{
        margin-bottom: 2.6vw;
    }
}

@media all and (min-width: 769px) {
    p{
        font-size:1.6vw;
        margin-right: -0.23vw;
        letter-spacing: 0.23vw;
        line-height: 2.6vw;
        text-indent: 1.6vw;
    }
    .menu-a{
        font-size:1.8vw;
        margin-right: -0.3vw;
        letter-spacing: 0.3vw;
        line-height: 2vw;

        margin-left: 0.8vw;
        text-indent: -0.8vw;
    }
    .manu-li{
        margin-bottom: 2.3vw;
    }

}
/* Setting about each area size and point
 * ( width > height ) = landscape site
 * ( width < height ) = portrait
 */
@media all and (orientation: landscape) {
    #area-logo {
        left:6.25%;
        width:12.5%;
        height:18.75%;
    }
    #area-wind {
        top: 6.25%;
        left:31.25%;
        height:62.5%;
        width:62.5%;
    }
    #area-main {
        top: 18.75%;
        left:25%;
        height:75%;
        width:62.5%;
    }
    #area-menu {
        top: 6.25%;
        left:6.25%;
        height:87.5%;
        width:12.5%;
        z-index: 1;
    }
}

@media all and (orientation: portrait) {
    #area-logo {
        top: 0%;
        left:31.25%;
        height:12.5%;
        width:37.5%;
    }
    #area-wind {
        top: 12.5%;
        left:18%;
        height:75%;
        width:75%;
    }
    #area-main {
        top: 18.75%;
        left:12.5%;
        height:78%;
        width:78%;
    }
}

/* Bar
 */

#bar-base{
    z-index: 1;
    position: fixed;
    left:0vw;
    top:0vh;
    width:100vw;
    height:100vh;
    pointer-events: none;
}
#menu-tgl:checked ~ #bar-base{
    z-index: 4;
}
.bar-mw{
    width:9.3vw;
    height:0.2vh;
    position: absolute;
}

.bar-mh{
    width:0.2vw;
    height:9.3vh;
    position: absolute;
}
#menu-tgl:checked ~ .bar-mh{
    z-index: 4;
}

#bar-01-ltpw{
    left:0.78vw;
    top:3.03vh;
}
#bar-02-rtpw{
    left:89.84vw;
    top:3.03vh;
}
#bar-03-lbmw{
    left:0.78vw;
    top:96.78vh;
}
#bar-04-rbmw{
    left:89.84vw;
    top:96.78vh;
}
#bar-07-ltph{
    left:3.03vw;
    top:0.78vh;
}
#bar-08-rtph{
    left:96.78vw;
    top:0.78vh;
}
#bar-09-lbmh{
    left:3.03vw;
    top:89.84vh;
}
#bar-10-rbmh{
    left:96.78vw;
    top:89.84vh;
}

@media all and (orientation: landscape) {


    #bar-05-cltw{
        left:17.19vw;
        top:3.03vh;
    }
    #bar-06-crbw{
        left:17.19vw;
        top:96.78vh;
    }
    #bar-11-clth{
        left:21.78vw;
        top:0.78vh;
    }
    #bar-12-crbh{
        left:21.78vw;
        top:89.84vh;
    }
}

@media all and (orientation: portrait) {
    #bar-05-cltw{
        left:0.78vw;
        top:31.15vh;
    }
    #bar-06-crbw{
        left:89.84vw;
        top:31.15vh;
    }
    #bar-11-clth{
        left:3.03vw;
        top:26.56vh;
    }
    #bar-12-crbh{
        left:96.78vw;
        top:26.56vh;
    }

}