
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Education Career{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Education      Career
{% endblock %}


{% block windimgurl %}
    <img src="https://s3.amazonaws.com/takayoshi.images/ec01.jpg" id="wind-img1" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/ec01.jpg" id="wind-img2" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/ec01.jpg" id="wind-img3" class="wind-img">
{% endblock %}

{% block maincontent %}

    <p>
        Education
        2017 Apr – 2017 Dec	QQ English
        Join IT team as intern, learn communicate and work in English.

        2002 Apr - 2007 Mar	National Institute of Technology, Kisarazu College
                    Dept. of Information and Computer Engineering
        I learn a wide range like information mathematics, electric circuit,
        operation system, object oriented programming, system design, network.
        Got basic knowledge and can cope any kind of IT with studding..
    </p>
{% endblock %}