
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Work Experiences{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Work Experiences
{% endblock %}


{% block windimgurl %}
    https://s3.amazonaws.com/takayoshi.images/test1.jpg
{% endblock %}

{% block maincontent %}
    <p>
        <2017 May - 2017 Dec	QQ English      	Cebu, Philippine>
        English school in Philippine managed by Japanese.
        Join IT team as intern and have engaged in IT widely, like design,
        construction and operation of network, build a Zabbix server, create portal site etc.
    </p>
    <p>
        <2013 Apr - 2017 May	NHN Techorus Corp.	Tokyo, Japan>
        IT infrastructure service provider, like cloud, broad band, and Wi-Fi .
        Known as Livedoor. Adopted as sales-engineer of network product, and moved to marketing.

        2013 Apr – 2014 May	Sales engineer of SaaS for fast data transfer named “CLOUD CONNECT”.
        In charge of maintenance of sales materials, Web marketing, prospect, accommodate of accounting and legal.
        I got first customer and spread as a case study.
        Sales performance: 2 companies, \2,400,000, TV Tokyo

        2014 May – 2015 Oct	Sales engineer of SaaS for academic Wi-Fi named “CAMPUS4”.
        Provide high quality Wi-Fi using SaaS for universities. In charge of maintenance of sales materials,
        Web marketing, creating Web site, prospect, accommodate of accounting and legal. I got 4 customers and spread as a case study.
        Sales performance: 9 universities, \30,000,000, Hitotsubashi

        2015 Oct – 2017 Apr 	Marketer of all product.
        Sales performance: 	10G Broad band internet \10,000,000 for IT service provider
			AWS for National University \1,000,000
    </p>
    <p>
        <2012 Nov - 2013 May	Keyport Solutions,Inc.	Tokyo, Japan>
　      Software developer. After delivering one project, quit during trial
    </p>
    <p>
        <2010 Nov - 2012 Nov	Skeed Co. Ltd    	Tokyo, Japan>
        Technology venture about network protocol software like P2P or fast data transfer. In charged of Sales engineer.
    </p>
    <p>
        <2007 Apr - 2010 Oct	Seishow  Co. Ltd	Tokyo, Japan>
        Software developer. Engineer of C, C++, C#.
    </p>
{% endblock %}