
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Work Experiences{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Work Experiences
{% endblock %}


{% block windimgurl %}
    https://s3.amazonaws.com/takayoshi.images/test1.jpg
{% endblock %}

{% block maincontent %}
    {% for company in companies %}
        <div class="cmp-area">
            <h2 class="cmp-h2 style-h2">{{ company.comp.name }}</h2>
            <div class="cmp-info">
                <div class="cmp-label">
                    <span class="cmp-date font-detail"><p>{{ company.comp.startdate|date:"y M" }}</p><p> - {{ company.comp.enddate|date:"y M" }}</p></span>

                    <span class="cmp-place font-detail">{{ company.comp.place }}</span>
                    {% if company.comp.url != "" %}
                        <a href="{{ company.comp.url }}">Web Site</a>
                    {% endif %}
                </div>
                <p class="cmp-desc font-detail">
                    {{ company.comp.description }}
                </p>
            </div>
            <div class="cmp-box">
                {% for jobrole in company.roles %}
                    <div class="role-box">
                        <input type="checkbox" id="role-tgl-{{ company.comp.name }}{{ jobrole.role.name }}"  class="role-tgl">
                        <label for="role-tgl-{{ company.comp.name }}{{ jobrole.role.name }}" class="role-btn-label" ><div class="role-btn"></div></label>
                        <label for="role-tgl-{{ company.comp.name }}{{ jobrole.role.name }}" class="role-title-lbl">
                            <div class="role-label">
                                <h3 class="role-h3">
                                    {{ jobrole.role.name }}
                                </h3>
                            </div>
                        </label>
                        <div class="exp-box">
                            <span class="role-startend font-detail">
                                <p>{{ jobrole.role.startdate|date:"y M" }}</p> - <p>{{ jobrole.role.enddate|date:"y M" }}</p>
                            </span>
                            <p class="role-description font-detail">
                                {{ jobrole.role.description }}
                            </p>
                            {% for experience in jobrole.exps %}
                                <p>
                                    <em>{{ experience.name }}</em>
                                    {{ experience.description }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}


{% endblock %}