
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}index page{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block maincontent %}
    <p>It is the Takayoshi</p>
    <p>tempolary</p>
    <p>menu</p>
    <p>Must change</p>
    <p></p>

    <p>It is the Takayoshi</p>
    <p>tempolary</p>
    <p>menu</p>
    <p>Must change</p>
    <p></p>

    <p>It is the Takayoshi</p>
    <p>tempolary</p>
    <p>menu</p>
    <p>Must change</p>
    <p></p>
{% endblock %}