
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Summary Statement{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Summary Statement
{% endblock %}

{% block windimgurl %}
    https://s3.amazonaws.com/takayoshi.images/test1.jpg
{% endblock %}

{% block maincontent %}


    <p>
        Thanks for visit here.
        I’m Takayoshi Taya, looking for a job as a <em>Web creator</em> in Toronto.
        This site was created to make me known, take your time.
    </p>

    <h2>Who am I?</h2>
    <p>
        31 years old Japanese, go by Taco.
        The <em>work-ready</em> as a full stack Web creator.
        Learned IT basic knowledge when young, gain work experience on a wide variety.
        I skilled in design, cording, build, marketing … <em>All of Web create</em>.
    </p>

    <h2>What can I do?</h2>
    <h2>How is experiences</h2>
    <h3>H3 no test</h3>
    <p>p no test</p>
    <h2>How is education</h2>

{% endblock %}