
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Summary Statement{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Summary Statement
{% endblock %}

{% block windimgurl %}
    https://s3.amazonaws.com/takayoshi.images/test1.jpg
{% endblock %}

{% block maincontent %}


    <p>
        Thank you for visiting here.
        My name is Takayoshi Taya,looking for a job as a <em>Web creator</em> in Toronto. This site was created to make me known, so please take your time!
    </p>

    <h2>Who am I?</h2>
    <p>
        31 years old Japanese. You can call me Taco.
        If given a chance to work as a Web creator, <em>my skill is capable</em> already.
        At younger age,I learned IT basic knowledge and gain a variety of wide work experience.
        My skilled in design,cording,build,marketing...<em>All of Web create</em>.
    </p>

    <h2>What can I do?</h2>
    <p>
        Have a look at this page.
        <br><a href="/qualities/" class="main-a">Qualities mapping</a>
        <br><a href="/portfolio/" class="main-a">Portfolios gallery</a>
    </p>

    <h2>How is experiences?</h2>
    <p>
        Have a look at this page.
        <br><a href="/experiences/" class="main-a">Work experience</a>
        <br><a href="/education/" class="main-a">Education career</a>
    </p>

{% endblock %}