
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Portfolio Gallery{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Portfolio Gallery
{% endblock %}

{% block windimgurl %}
    <img src="https://s3.amazonaws.com/takayoshi.images/pt01.png" id="wind-img1" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/pt01.png" id="wind-img2" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/pt01.png" id="wind-img3" class="wind-img">
{% endblock %}

{% block maincontent %}
    <h2 class="style-h">Portfolio Gallery</h2>
    <div class="ptf-area">
    {% for portfolio in portfolios %}
        <div class="ptf-box">
            <input type="checkbox" id="ptf-tgl-{{ portfolio.order }}"  class="ptf-tgl">
            <img class="ptf-img" src="https://s3.amazonaws.com/takayoshi.images/{{ portfolio.image }}">
            {% if portfolio.portfolio.achievement != "" %}
                <div class="ptf-achive style-tdot-trans"><span>{{ portfolio.achievement }}</span></div>
            {% endif %}
            <div class="ptf-label-bar style-tdot-trans">
                <label for="ptf-tgl-{{ portfolio.order }}" class="ptf-title-lbl">
                    <span class="ptf-company">{{ portfolio.company }}</span>
                    <h3 class="ptf-name">{{ portfolio.name }}</h3>
                </label>
            </div>
            {% comment %}<label for="ptf-tgl-{{ portfolio.order }}" class="ptf-btn-label" ><i class="material-icons">close</i></label>{% endcomment %}
                {% if portfolio.url != "" %}
                <span class="ptf-url key-hover">
                    <a href="{{ portfolio.url }}" rel=noreferrer><i class="material-icons">link</i></a>
                </span>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}