
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Qualities Mapping{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Qualities Mapping
{% endblock %}


{% block windimgurl %}
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.jpg" id="wind-img1" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.jpg" id="wind-img2" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.jpg" id="wind-img3" class="wind-img">
{% endblock %}

{% block maincontent %}

    <h2 class="style-marketer-h2">Marketer</h2>
    <h3 class="style-h3">Skill and level</h3>
    {% for keyword in KasMarketer %}
        <p>
            {{ keyword.key }}:{{ keyword.exp }}
        </p>
    {% endfor %}
    <h3 class="style-h3">Responsible for</h3>
    {% for incharge in CasMarketer %}
        <p>
            {{ incharge.inc }}:{{ incharge.exp }}
        </p>
    {% endfor %}

    <h2 class="style-Engineer-h2">Engineer</h2>
    <h3 class="style-h3">Skill and level</h3>
    {% for keyword in KasEngineer %}
        <p>
            {{ keyword.key }}:{{ keyword.exp }}
        </p>
    {% endfor %}
    <h3 class="style-h3">Responsible for</h3>
    {% for incharge in CasEngineer %}
        <p>
            {{ incharge.inc }}:{{ incharge.exp }}
        </p>
    {% endfor %}

    <h2 class="style-Creator-h2">Creator</h2>
    <h3 class="style-h3">Skill and level</h3>
    {% for keyword in KasCreator %}
        <p>
            {{ keyword.key }}:{{ keyword.exp }}
        </p>
    {% endfor %}
    <h3 class="style-h3">Responsible for</h3>
    {% for incharge in CasCreator %}
        <p>
            {{ incharge.inc }}:{{ incharge.exp }}
        </p>
    {% endfor %}

{% endblock %}