
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Qualities Mapping{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Qualities Mapping
{% endblock %}


{% block windimgurl %}
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.png" id="wind-img1" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.png" id="wind-img2" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.png" id="wind-img3" class="wind-img">
{% endblock %}

{% block maincontent %}

    <p>
        This page is display my qualities categorized to creator / engineer / marketer, and level of each skills.
    </p>
    <p>
        <span class="kwd-exp ">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
        </span>
        <span>
            3 stars means SPECIALIST
        </span>
    </p>
    <p>
        <span class="kwd-exp ">
            <i class="material-icons">star_border</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
        </span>
        <span>
            2 stars means SENIOR
        </span>
    </p>

    <p>
        <span class="kwd-exp ">
            <i class="material-icons">star_border</i>
            <i class="material-icons">star_border</i>
            <i class="material-icons">star</i>
        </span>
        <span>
            1 star   means BIGINNER
        </span>
    </p>

    <div class="area-classification">
        <h2 class="style-Creator-h">Qualities As Creator</h2>
        <p class="cls-desc">
            Always consider why create, and what is the best way to make value to be known.
            Stick to text, color, form, detail.
            Get happy when spread information I created.
        </p>

        <div class="cls-detail">

            <input type="checkbox" id="cls-tgl-Creator"  class="cls-tgl">
            <label for="cls-tgl-Creator" class="cls-btn-label" ><i class="material-icons style-Creator">close</i></label>
            <label for="cls-tgl-Creator" class="cls-title-lbl">
                <div class="cls-label">
                    <h3 class="style-Creator-h style-h3">
                        I'm skilled of ...
                    </h3>
                </div>
            </label>

            <div class="cls-box">
                {% for keyword in keywords %}
                    {% if keyword.cls == "Creator" %}
                        <div class="kwd-box">
                            <span class="kwd-name">
                                    {{ keyword.key }}
                            </span>
                            <span class="kwd-space"></span>
                            <span class="kwd-exp style-Creator">
                                {% if keyword.exp <= 1 %}
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star</i>
                                {% elif keyword.exp <= 4 %}
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                {% elif keyword.exp > 4 %}
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="area-classification">
        <h2 class="style-Engineer-h">Qualities As Engineer</h2>
        <p class="cls-desc">
            When 1995, my father gave me Windows 95 , 9 years old boy, so my engineer career was start.
            Learned IT basic knowledge in college, able to corp any kind of IT work.
            Now Python and CSS3 are attracting my interest.
            Get happy when complete something.
        </p>
        <div class="cls-detail">

            <input type="checkbox" id="cls-tgl-Engineer"  class="cls-tgl">
            <label for="cls-tgl-Engineer" class="cls-btn-label" ><i class="material-icons style-Engineer">close</i></label>
            <label for="cls-tgl-Engineer" class="cls-title-lbl">
                <div class="cls-label">
                    <h3 class="style-Engineer-h style-h3">
                        I'm skilled of ...
                    </h3>
                </div>
            </label>

            <div class="cls-box">
                {% for keyword in keywords %}
                    {% if keyword.cls == "Engineer" %}
                        <div class="kwd-box">
                            <span class="kwd-name">
                                    {{ keyword.key }}
                            </span>
                            <span class="kwd-space"></span>
                            <span class="kwd-exp style-Engineer">
                                {% if keyword.exp <= 1 %}
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star</i>
                                {% elif keyword.exp <= 3 %}
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                {% elif keyword.exp > 3 %}
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="area-classification">
        <h2 class="style-Marketer-h">Qualities As Marketer</h2>
        <p class="cls-desc">
            Skilled in how use Web for marketing.
            Have tough heart needed for marketing.
            Got happy when client pay money in compensation for the value I given.
        </p>

        <div class="cls-detail">

            <input type="checkbox" id="cls-tgl-Marketer"  class="cls-tgl">
            <label for="cls-tgl-Marketer" class="cls-btn-label" ><i class="material-icons style-Marketer">close</i></label>
            <label for="cls-tgl-Marketer" class="cls-title-lbl">
                <div class="cls-label">
                    <h3 class="style-Marketer-h style-h3">
                        I'm skilled of ...
                    </h3>
                </div>
            </label>

            <div class="cls-box">
                {% for keyword in keywords %}
                    {% if keyword.cls == "Marketer" %}
                        <div class="kwd-box">
                            <span class="kwd-name">
                                    {{ keyword.key }}
                            </span>
                            <span class="kwd-space"></span>
                            <span class="kwd-exp style-Marketer">
                                {% if keyword.exp <= 1 %}
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star</i>
                                {% elif keyword.exp <= 3 %}
                                    <i class="material-icons">star_border</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                {% elif keyword.exp > 3 %}
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}