
{# load base #}
{% extends "elem/base.html" %}

{# set title #}
{% block title %}Qualities Mapping{% endblock title %}

{# expand header #}
{% block extrahead %}{% endblock %}

{% block h1content %}
    Qualities Mapping
{% endblock %}


{% block windimgurl %}
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.jpg" id="wind-img1" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.jpg" id="wind-img2" class="wind-img">
    <img src="https://s3.amazonaws.com/takayoshi.images/sm01.jpg" id="wind-img3" class="wind-img">
{% endblock %}

{% block maincontent %}

<p>
   Qualities Map
</p>


{% endblock %}